[Unit]
Description=RPV Camera Node
After=network.target
Wants=network.target

[Service]
ExecStartPre=/usr/local/bin/rpv-net-setup.sh
ExecStart=/usr/local/bin/rpv-cam
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
